.feed{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
}

@media (max-width: 40rem){
    .feed{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.photo:nth-child(2){
    grid-column: 2/4;
    grid-row: span 2;
}

.photo a{
    display: grid;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
}

.photo img{
    grid-area: 1/1;
}

.view{
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1rem;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    grid-area: 1/1;
}

.photo:hover .view{
    display: flex;
}

.view::before{
    width: 16px;
    height: 16px;
    content: '';
    display: inline-block;
    margin-right: .25rem;
    background: url('/assets/visualizacao.svg') no-repeat;
}

@media (max-width: 40rem){
    .photo:nth-child(2){
        grid-column: initial;
        grid-row: initial;
    }
}

.loadingWrapper{
    display: flex;
    height: 100px;
    margin: 1rem auto;
}

.loadingWrapper p{
    text-align: center;
    margin: auto;
    color: #888;
}